<div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
            </div>
            <div class="modal-body">
                <div class="alert alert-info text-center alert-sm">
                Your CSC Account Address
                </div><div class="input-group mb-3">
                    <input type="text" class="form-control" name="account" placeholder="cEr8bAo15RM8vVuQaq5JTTEvVMzkyGneJE" value="cEr8bAo15RM8vVuQaq5JTTEvVMzkyGneJE" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="send_account">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>